<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection -->
<!-- 오더 관련 Mapper -->
<mapper namespace="com.pjt.erpit.biz.mapper.OrderMapper">
    <!-- 오더 리스트 조회 -->
    <select id="getOrderList" parameterType="com.pjt.erpit.biz.dto.Order.OrderListDTO$Request" resultType="com.pjt.erpit.biz.dto.Order.OrderListDTO$Response">
        SELECT *
        FROM M_ORDER MO
                 INNER JOIN M_USER MU
                            ON MO.USERCD = MU.USERCD
                 INNER JOIN M_BUYER MB
                            ON MO.BUYERCD = MB.BUYERCD
        WHERE MO.USERCD = ''
          AND MO.BUYERCD = ''
          AND MO.STATUS = ''
          AND MO.ADDDATE BETWEEN '' AND ''
          AND MU.USERNM = ''
          AND MB.BUYERNM = ''
    </select>

    <!-- 오더 생성 -->
    <insert id="createOrder" parameterType="com.pjt.erpit.biz.entity.Order" useGeneratedKeys="true" keyProperty="orderid">
        INSERT INTO M_ORDER (ORDERNO,
                             ORDERDATE,
                             USERCD,
                             BUYERCD,
                             STATUS,
                             ADDIPADDR,
                             ADDUSER,
                             ADDDATE,
                             UPDIPADDR,
                             UPDUSER,
                             UPDDATE)
        VALUES (NEXT VALUE FOR SQT_M_ORDER_ORDERNO,
                #{orderdate},
                #{usercd},
                #{buyercd},
                #{status},
                #{addipaddr},
                #{adduser},
                #{adddate},
                #{updipaddr},
                #{upduser},
                #{upddate})
    </insert>
</mapper>